<html>
<head><title>JP Salon Administration</title></head>
<h1><font color="blue">JP Salon Administration</font></h1>
<h2>New member particulars</h2>

<form action="{{url_for('memberAdded')}}" method = "POST">
	Full Name:  <font color="red">{{ nameError }}</font><br>
	<input name = "name">
	<br><br>

	Gender:<br>
	<select name = "gender">
		<option value = "M">M</option>
		<option value = "F">F</option>
	</select>
	<br><br>

	Email: <font color="red">{{ emailError }}</font><br>
	<input type = "email" name = "email">
	<br><br>

	Contact No:  <font color="red">{{ contactError }}</font><br>
	<input name = "contact_no">
	<br><br>

	Address:  <font color="red">{{ addError }}</font><br>
	<input name = "address">
	<br><br>
	<input type = "submit" value = "Submit">
</form>
	
	
	
</html>