<html>
<head><title>JP Salon Administration</title></head>
<h1><font color="blue">JP Salon Administration</font></h1>

<p style=font-size:160%>Add a new member
	<br>
	<a href = "{{url_for('addMember')}}">Click here</a>
</p>

<p style=font-size:160%>Update member information
	<br>
	<a href = "{{url_for('updateMember')}}">Click here</a>
</p>

<p style=font-size:160%>Add a new invoice
	<br>
	<a href = "{{url_for('invoice')}}">Click here</a>
</p>

<p style=font-size:160%>View daily transactions
	<br>
	<a href = "{{url_for('dailyTransactions')}}">Click here</a>
</p>

<p style=font-size:160%>View monthly sales revenue
	<br>
	<a href = "{{url_for('monthlySales')}}">Click here</a>
</p>

<p style=font-size:160%>View memeber's transaction history
	<br>
	<a href = "{{url_for('memberTransactions')}}">Click here</a>
</p>

</html>



