<html>
<head><title>JP Salon Administration</title></head>
<h1><font color="blue">JP Salon Administration</font></h1>
<h2>Monthly Sales</h2>

<form action = "{{url_for('viewMonthlySales')}}" method = "POST">
	Month(1-12): 
	<select name = "month">
		<option value = "01">1</option> 
		<option value = "02">2</option> 
		<option value = "03">3</option> 
		<option value = "04">4</option> 
		<option value = "05">5</option> 
		<option value = "06">6</option> 
		<option value = "07">7</option> 
		<option value = "08">8</option> 
		<option value = "09">9</option> 
		<option value = "10">10</option> 
		<option value = "11">11</option> 
		<option value = "12">12</option> 
	</select>
	<br><br>

	Year: 
	<select name = "year">
		<option value = "2020">2020</option> 
		<option value = "2021">2021</option> 
		<option value = "2022">2022</option> 
	</select>

	<br><br><br>
	<input type = "SUBMIT" value = "Submit">
</form>


</html>